# All Files
* @p5 @m2Giles

# AKMODS
akmods/ @bsherman

# UCore
ucore/ @bsherman

# Ublue-OS Packages
packages/ublue-os-* @bsherman

# Ublue Packages
packages/ublue-* @zeglius

# Bazzite Packages
bazzite/ @zeglius @kylegospo
