# All Files
* @inffy @p5 @m2Giles @renner0e

# AKMODS
akmods/ @bsherman

# Aurora
packages/aurora/ @inffy @ledif @NiHaiden @renner0e

# UCore
ucore/ @bsherman

# Ublue-OS Packages
packages/ublue-os-* @bsherman

# Ublue Packages
packages/ublue-* @zeglius @inffy @renner0e

# Bluefin Packages
packages/bluefin/ @inffy @renner0e

# Bazzite Packages
bazzite/ @zeglius @kylegospo
