@define-color aurora #6f3c82;

/* logo and sidebar classes for Aurora */
/* The sidebar consists of three parts: a background, a logo, and a product logo,
 * rendered in that order. The product logo is empty by default and is intended
 * to be overridden by a stylesheet in product.img.
 */

.logo-sidebar {
    background-image: url("/usr/share/anaconda/pixmaps/sidebar-bg.png");
    background-color: @aurora;
    background-repeat: no-repeat;
}

/* Add a logo to the sidebar */
.logo {
    background-image: url("/usr/share/anaconda/pixmaps/sidebar-logo.png");
    background-position: 50% 20px;
    background-repeat: no-repeat;
    background-color: transparent;
}

/* This is a placeholder to be filled by a product-specific logo. */
.product-logo {
    background-image: none;
    background-color: transparent;
}

AnacondaSpokeWindow #nav-box {
    background-color: @aurora;
    background-image: url("/usr/share/anaconda/pixmaps/topbar-bg.png");
    background-repeat: no-repeat;
    color: white;
}

/* Remove the box-shadow from buttons in the nav-box because it adds a white stripe
 * below the buttons and makes them look dumb */
AnacondaSpokeWindow #nav-box GtkButton {
    box-shadow: none;
}

/* Add the product logo at the top */
.product-logo {
    background-image: none;
}
